{% extends "base.html" %}
{% block content %}


  {% if message %}
    <div class="alert alert-success">
        {{message}}
    </div>
  {% endif %}

  <h1>Mehiläispesät</h1>

  <div class="row">

    <div class="col-sm-4">
      <div class="card border-warning">

        <img class="card-img-top" src="{{base_path}}/assets/images/icon.png" alt="Lisää uusi pesä">

        <div class="card-body">
          <h4 class="card-title">Lisää uusi pesä</h4>
          <p class="card-text">Uuden pesän luontilomake.</p>

          <a href="{{base_path}}/apiary/new" class="btn btn-success">Luo uusi pesä</a>

        </div>

      </div>
    </div>


    {% for apiary in apiarys %}

      <div class="col-sm-4">
        <div class="card border-warning">

          {% if apiary.picture %}
            <img class="card-img-top img-fluid img-thumbnail" src="{{apiary.picture}}" alt="Kuva pesästä">
          {% endif %}

          <div class="card-body">
            <h4 class="card-title">{{apiary.name}}</h4>
            <p class="card-text">{{apiary.comments}}</p>

            <a href="{{base_path}}/apiary/{{apiary.apiaryID}}" class="btn btn-warning">Pesän tiedot</a>
            <a href="{{base_path}}/apiary/{{apiary.apiaryID}}/inspection" class="btn btn-info">Tarkasta pesä</a>

          </div>

          <div class="card-footer">
            <p>

              {% if apiary.lastInspected %}
                <small class="text-muted">Pesä tarkastettu viimeksi {{apiary.lastInspected}}</small>
              {% else %}
                <small class="text-muted">Pesää ei ole tarkastettu.</small>
              {% endif %}

              <br/>

              {% if apiary.hiveName %}
                <small class="text-muted">Tarha: {{apiary.hiveName}}</small>
              {% else %}
                <small class="text-muted">Pesää ei ole liitetty tarhaan</small>
              {% endif %}

            </p>
          </div>

        </div>
      </div>

    {% endfor %}

  </div>


{% endblock %}
