{% extends "base.html" %}
{% block content %}

  <h1>Lisää tarkastus mehiläispesälle: Mökkimetsän hunajapesä nro 1</h1>

  <form>

</br></br>

    <div class="form-group">
        <label>Tarkastuspäivä</label>
        <input class="form-control" type="date" value="2017-12-31" min="2015-01-01" max="2020-12-31">
    </div>

</br></br>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
          Emo nähty
      </label>
    </div>

    <div class="form-group">
      <label for="selectBugCount">Kuinka monta punkkia oli?</label>
      <select class="form-control" id="selectBugCount">
        <option>alle 2</option>
        <option>2-6</option>
        <option>yli 6</option>
      </select>
    </div>

    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control"></textarea>
    </div>

</br></br>

    <div class="form-group">
        <label>Milloin muistutetaan seuraavasta tarkastuksesta?</label>
        <input class="form-control" type="date" value="2018-02-01" min="2015-01-01" max="2020-12-31">
    </div>

    <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
            Älä tee muistutusta uudesta tarkastuksesta
        </label>
      </div>

</br></br>

    <div class="form-group">
      <a href="javascript:history.go(-1)" class="btn btn-warning">Peruuta ja palaa edelliselle sivulle</a>
      <button type="submit" class="btn btn-success">Tallenna tarkastus</button>
    </div>


  </form>

{% endblock %}
