{% extends "base.html" %}
{% block content %}

{% import "macros/buttons.html" as buttons %}


<div class="alert alert-danger">
  <h2>Tämän toiminnallisuuden toteutus on edelleen kesken ja tämä on vain staattinen hahmotelmasivu</h2>
  {{buttons.return_button()}}
</div>


  <h1>Lisää tarkastus mehiläispesälle: Mökkimetsän hunajapesä nro 1</h1>

  <form>

    <div class="form-group">
       <label for="selectInspections">Mitkä tarkastukset haluat suorittaa?</label>
       <select multiple class="form-control" id="selectInspections">
         <option>Kevään tarkastus</option>
         <option>Syystarkastus</option>
         <option>Punkkitilanne</option>
         <option>Hunajasadon keräys</option>
       </select>
     </div>

    <div class="form-group">
      {{buttons.return_button()}}

      <a href="{{base_path}}/apiary/{{apiary.apiaryID}}/inspectionform" class="btn btn-success">Avaa tarkastuslomake</a>
      <!-- tämä on sitten oikea nappi kun formi toimii
      <button type="submit" class="btn btn-success">Avaa tarkastuslomake</button>
    -->
    </div>


  </form>

{% endblock %}
