{% extends "base.html" %}
{% block content %}

{% import "macros/buttons.html" as buttons %}


  {% if message %}
    <div class="alert alert-success">
        {{message}}
    </div>
  {% endif %}

<div class="container">
  <div class="row ">

    <div class="col-sm-6">

      <h1>{{apiary.name}}</h1>

      <p>
        {{apiary.comments}}
      </p>

      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Tarha</th>
            <td>
              {% if apiary.hiveName %}
                <a href="{{base_path}}/hive/{{apiary.hiveID}}" class="btn btn-outline-dark">
                  {{apiary.hiveName}}
                </a>
              {% else %}
                Ei liitettyä pesää
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Emo</th>
            <td>
              {% if apiary.queenName %}
                <a href="{{base_path}}/queen/{{apiary.queenID}}" class="btn btn-outline-dark">{{apiary.queenName}}</a>
              {% else %}
                Ei liitettyä emoa
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Sijainti</th>
            <td>
              {% if apiary.location %}
                <a href="http://www.google.com/maps/place/{{apiary.location}}" class="btn btn-outline-dark" target="_blank">{{apiary.location}}</a>
              {% else %}
                Ei sijaintitietoja
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <p>

        {% if apiary.queenName %}
          <a href="#" disabled class="btn btn-danger">Ei voi poistaa, pesässä on emo</a>
        {% elseif apiary.hiveName %}
          <a href="#" disabled class="btn btn-danger">Ei voi poistaa, pesä kuuluu tarhaan</a>
        {% elseif inspections %}
          <a href="#" disabled class="btn btn-danger">Ei voi poistaa, pesään on tehty tarkastuksia</a>
        {% else %}
          {{buttons.destroy_button("#{base_path}/apiary/#{apiary.apiaryID}/remove")}}
        {% endif %}

        <a href="{{base_path}}/apiary/{{apiary.apiaryID}}/edit" class="btn btn-warning">Muokkaa</a>
        <a href="{{base_path}}/apiary/{{apiary.apiaryID}}/inspection" class="btn btn-info">Tarkasta pesä</a>
      </p>

    </div>

    {% if apiary.picture %}
    <div class="col-sm-4">
         <img src="{{apiary.picture}}" class="img-fluid img-thumbnail">
    </div>
    {% endif %}

  </div>
</div>


    <h2>Pesään tehdyt tarkastukset:</h2>

    <div class="alert alert-danger">
      <h2>Tarkastus toiminnallisuuden toteutus on edelleen kesken ja tämä on vain staattinen hahmotelma</h2>
    </div>

    <h3>Tarkastuspäivä 1.12.2017</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Tarkastustoimi</th>
            <th>Tulos</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Emo nähty</td>
            <td>Kyllä</td>
          </tr>
          <tr>
            <td>Ruokavarat</td>
            <td>5 kg</td>
          </tr>
          <tr>
            <td>Lisätty hunajalaatikko </td>
            <td>Kyllä</td>
          </tr>
          <tr>
            <td>Punkkeja pohjalla</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
      <p>
        Jotain vapaata tekstiä, joka on kirjoitettu tarkastuksen yhteydessä.
      </p>

      <h3>Tarkastuspäivä 12.11.2017</h3>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Tarkastustoimi</th>
              <th>Tulos</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Emo nähty</td>
              <td>Kyllä</td>
            </tr>
            <tr>
              <td>Ruokavarat</td>
              <td>5 kg</td>
            </tr>
            <tr>
              <td>Lisätty hunajalaatikko </td>
              <td>Kyllä</td>
            </tr>
            <tr>
              <td>Punkkeja pohjalla</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
        <p>
          Jotain vapaata tekstiä, joka on kirjoitettu tarkastuksen yhteydessä.
        </p>


{% endblock %}
