{% extends "base.html" %}
{% block content %}

{% if message %}
  <div class="alert alert-success">
      {{message}}
  </div>
{% endif %}

  <h1>Mehiläiskuningattaret</h1>

  <div class="row">

    <div class="col-sm-4">
      <div class="card border-warning">

        <img class="card-img-top" src="{{base_path}}/assets/images/icon.png" alt="Lisää uusi emo">

        <div class="card-body">
          <h4 class="card-title">Lisää uusi emo</h4>
          <p class="card-text">Tarvitessasi uutta emoa, voit luoda sen tästä. </p>

          <a href="{{base_path}}/queen/new" class="btn btn-success">Luo uusi emo</a>

        </div>

      </div>
    </div>


    {% for queen in queens %}

        <div class="col-sm-4">
          <div class="card border-warning">

            {% if queen.picture %}
              <img class="card-img-top img-fluid img-thumbnail" src="{{queen.picture}}" alt="Kuva emosta">
            {% endif %}

            <div class="card-body">
              <h4 class="card-title">{{queen.name}}</h4>
              <p class="card-text">{{queen.comments}}</p>

              <a href="{{base_path}}/queen/{{queen.queenID}}" class="btn btn-warning">Emon tiedot</a>
              <a href="{{base_path}}/queen/{{queen.queenID}}/inspection" class="btn btn-info">Tarkasta emo</a>

            </div>

            <div class="card-footer">
              {% if queen.apiaryID %}
                <small class="text-muted">Pesässä: {{queen.apiaryName}}</small>
              {% else %}
                <small class="text-muted">Emolla ei ole pesää</small>
              {% endif %}
            </div>

          </div>
        </div>

    {% endfor %}


  </div>




{% endblock %}
