{% extends "base.html" %}
{% block content %}

{% import "macros/buttons.html" as buttons %}

{% if message %}
  <div class="alert alert-success">
      {{message}}
  </div>
{% endif %}

  <div class="container">
    <div class="row ">

      <div class="col-sm-6">

        <h1>{{queen.name}}</h1>

        <p>
          {{queen.comments}}
        </p>

        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Emon väri (syntymävuosi)</td>
              <td>{{queen.color}}</td>
            </tr>
            <tr>
              <td>Kotipesä</td>
              <td><a href="{{base_path}}/apiary/{{queen.apiaryID}}" class="btn btn-outline-dark">{{queen.apiaryName}}</button></td>
            </tr>

          </tbody>
        </table>

        <p>

          {% if queen.apiaryID %}
            <a href="#" disabled class="btn btn-danger">Ei voi poistaa, emo on liitetty pesään</a>
          {% else %}
            {{buttons.destroy_button("#{base_path}/queen/#{queen.queenID}/remove")}}
          {% endif %}

          <a href="{{base_path}}/queen/{{queen.queenID}}/edit" class="btn btn-warning">Muokkaa</a>
          <a href="{{base_path}}/queen/{{queen.queenID}}/inspection" class="btn btn-info">Tarkasta emo</a>
        </p>

      </div>

      {% if queen.picture %}
      <div class="col-sm-4">
           <img src="{{queen.picture}}" class="img-fluid img-thumbnail">
      </div>
      {% endif %}

    </div>
  </div>




  <h2>Emolle tehdyt tarkastukset</h2>

  <div class="alert alert-danger">
    <h2>Tarkastus toiminnallisuuden toteutus on edelleen kesken ja tämä on vain staattinen hahmotelma</h2>
  </div>

  <h3>Tarkastuspäivä 1.12.2017</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Tarkastustoimi</th>
          <th>Tulos</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Emo nähty</td>
          <td>Kyllä</td>
        </tr>
        <tr>
          <td>Ruokavarat</td>
          <td>5 kg</td>
        </tr>
        <tr>
          <td>Lisätty hunajalaatikko </td>
          <td>Kyllä</td>
        </tr>
        <tr>
          <td>Punkkeja pohjalla</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <p>
      Jotain vapaata tekstiä, joka on kirjoitettu tarkastuksen yhteydessä.
    </p>

    <h3>Tarkastuspäivä 1.11.2017</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Tarkastustoimi</th>
            <th>Tulos</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Emo nähty</td>
            <td>Ei</td>
          </tr>
          <tr>
            <td>Ruokavarat</td>
            <td>7 kg</td>
          </tr>
          <tr>
            <td>Kerätty hunajalaatikko </td>
            <td>Kyllä</td>
          </tr>
          <tr>
            <td>Punkkeja pohjalla</td>
            <td>6</td>
          </tr>
        </tbody>
      </table>
      <p>
        Jotain vapaata tekstiä, joka on kirjoitettu tarkastuksen yhteydessä.
      </p>





{% endblock %}
