{% extends "base.html" %}
{% block content %}

{% import "macros/buttons.html" as buttons %}


  {% if message %}
    <div class="alert alert-success">
        {{message}}
    </div>
  {% endif %}

  <div class="container">
    <div class="row ">

      <div class="col-sm-6">

        <h1>{{hive.name}}</h1>

        <h3>
          {% if hive.location %}
            <a href="http://www.google.com/maps/place/{{hive.location}}" class="btn btn-outline-dark" target="_blank">{{hive.location}}</a>
          {% else %}
            Ei sijaintitietoja
          {% endif %}
        </h3>

        <p>
          {{hive.comments}}
        </p>

        <p>

          {{buttons.destroy_button("#{base_path}/hive/#{hive.hiveID}/remove")}}

          <a href="{{base_path}}/hive/{{hive.hiveID}}/edit" class="btn btn-warning">Muokkaa</a>
          <a href="{{base_path}}/apiary/new/{{hive.hiveID}}" class="btn btn-success">Luo tarhaan uusi pesä</a>
        </p>

      </div>

      {% if hive.picture %}
      <div class="col-sm-4">
           <img class="img-fluid img-thumbnail" src="{{hive.picture}}" alt="Kuva tarhasta">
      </div>
      {% endif %}


    </div>
  </div>



  {% if apiarys %}

    <h2>Tarhan mehiläispesät</h2>

    <div class="row">

      {% for apiary in apiarys %}

          <div class="col-sm-4">
            <div class="card border-warning">

              {% if apiary.picture %}
              <img class="card-img-top img-fluid img-thumbnail" src="{{apiary.picture}}" alt="Kuva pesästä">
              {% endif %}

              <div class="card-body">
                <h4 class="card-title">{{apiary.name}}</h4>
                <p class="card-text">{{apiary.comments}}</p>

                <a href="{{base_path}}/apiary/{{apiary.apiaryID}}" class="btn btn-warning">Pesän tiedot</a>
                <a href="{{base_path}}/apiary/{{apiary.apiaryID}}/inspection" class="btn btn-info">Tarkasta pesä</a>

              </div>

                {% if hive.lastInspected %}
                    <div class="card-footer">
                      <small class="text-muted">Pesä tarkastettu viimeksi {{apiary.lastInspected}}</small>
                      <br/>
                    </div>
                {% else %}
                  <div class="card-footer">
                    <small class="text-muted">Pesää ei ole tarkastettu</small>
                    <br/>
                  </div>
                {% endif %}

            </div>
          </div>

      {% endfor %}

    </div>

  {% endif %}



{% endblock %}
