{% extends "base.html" %}
{% block content %}

{% import "macros/buttons.html" as buttons %}


  <h1>Tarkastuslomakkeet</h1>

  <div class="alert alert-danger">
    <h2>Tämän toiminnallisuuden toteutus on edelleen kesken ja tämä on vain staattinen hahmotelmasivu</h2>
    {{buttons.return_button()}}
  </div>

  <a href="#" class="btn btn-success">Luo uusi tarkastuslomake</a>

  <h3>Olemassa olevat tarkastuslomakkeet</h3>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>Kevään tarkastus</td>
        <td><a href="#" class="btn btn-danger">Poista</a></td>
        <td><a href="#" class="btn btn-warning">Muokkaa</a></td>
      </tr>
      <tr>
        <td>Syystarkastus</td>
        <td><a href="#" class="btn btn-danger">Poista</a></td>
        <td><a href="#" class="btn btn-warning">Muokkaa</a></td>
      </tr>
      <tr>
        <td>Punkkitilanne</td>
        <td><a href="#" class="btn btn-danger">Poista</a></td>
        <td><a href="#" class="btn btn-warning">Muokkaa</a></td>
      </tr>
      <tr>
        <td>Hunajasadon keräys</td>
        <td><a href="#" class="btn btn-danger">Poista</a></td>
        <td><a href="#" class="btn btn-warning">Muokkaa</a></td>
      </tr>
    </tbody>
  </table>



{% endblock %}
