{% extends "base.html" %}
{% block content %}

  <h1>Mehiläistarhat</h1>

  <div class="row">

    <div class="col-sm-4">
      <div class="card border-warning">

        <img class="card-img-top" src="{{base_path}}/assets/images/icon.png" alt="Hive image cap">

        <div class="card-body">
          <h4 class="card-title">Lisää uusi tarha</h4>
          <p class="card-text">Tarvitessasi uutta tarhaa, voit luoda sen tästä. </p>

          <a href="{{base_path}}/hive/new" class="btn btn-warning">Luo uusi tarha</a>

        </div>

      </div>
    </div>

    <div class="col-sm-4">
      <div class="card border-warning">

        <img class="card-img-top" src="{{base_path}}/assets/images/icon.png" alt="Hive image cap">

        <div class="card-body">
          <h4 class="card-title">Mökkimetsän hunajatarha</h4>
          <p class="card-text">Laukaan mökkimetsissä olevat pesät.</p>

          <a href="{{base_path}}/hive/1" class="btn btn-warning">Tarhan tiedot ja pesälistaus</a>

        </div>

        <div class="card-footer">
          <small class="text-muted">Tarhassa on 4 pesää</small>
        </div>

      </div>
    </div>

    <div class="col-sm-4">
      <div class="card border-warning">

        <img class="card-img-top" src="{{base_path}}/assets/images/icon.png" alt="Hive image cap">

        <div class="card-body">
          <h4 class="card-title">Kotipihan hunajatarha</h4>
          <p class="card-text">Omalla pihalla olevat pesät.</p>

          <a href="{{base_path}}/hive/1" class="btn btn-warning">Tarhan tiedot ja pesälistaus</a>

        </div>

        <div class="card-footer">
          <small class="text-muted">Tarhassa on 2 pesää</small>
        </div>

      </div>
    </div>


  </div>




{% endblock %}
