{% extends "static/base-static.html" %}
{% block content %}


  <div class="container">
    <div class="row ">

      <div class="col-sm-6">

        <h1>Mökkimetsän hunajatarha</h1>

        <p>
          Laukaan mökkimetsissä olevat pesät.
        </p>

        <p>
          <button class="btn btn-danger">Poista</button>
          <a href="#" class="btn btn-warning">Muokkaa</a>
          <a href="#" class="btn btn-success">Luo tarhaan uusi pesä</a>
        </p>

      </div>

      <div class="col-sm-4">
           <img src="{{base_path}}/assets/images/icon.png" >
      </div>

    </div>
  </div>


    <h2>Tarhan mehiläispesät</h2>

    <div class="row">

      <div class="col-sm-4">
        <div class="card border-warning">

          <img class="card-img-top" src="{{base_path}}/assets/images/icon.png" alt="Hive image cap">

          <div class="card-body">
            <h4 class="card-title">Mökkimetsän hunajapesä nro 1</h4>
            <p class="card-text">Tämä on se lähimpänä mökkiä oleva.</p>

            <a href="#" class="btn btn-warning">Pesän tiedot</a>
            <a href="#" class="btn btn-info">Tarkasta pesä</a>

          </div>

          <div class="card-footer">
            <small class="text-muted">Pesä tarkastettu viimeksi 1.12.2017</small>
            <br/>
          </div>

        </div>
      </div>

      <div class="col-sm-4">
        <div class="card border-warning">

          <img class="card-img-top" src="{{base_path}}/assets/images/icon.png" alt="Hive image cap">

          <div class="card-body">
            <h4 class="card-title">Mökkimetsän hunajapesä nro 2</h4>
            <p class="card-text">Tämä on se lähimpänä rantaa oleva.</p>

            <a href="#" class="btn btn-warning">Pesän tiedot</a>
            <a href="#" class="btn btn-info">Tarkasta pesä</a>

          </div>

          <div class="card-footer">
            <small class="text-muted">Pesä tarkastettu viimeksi 10.12.2017</small>
            <br/>
          </div>

        </div>
      </div>


    </div>



{% endblock %}
