<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="{{base_path}}/assets/manifest.json">

    <link rel="manifest" href="{{base_path}}/assets/manifest.webapp">
    <link rel="shortcut icon" href="{{base_path}}/assets/images/icon.png" type="image/png">
    <link rel="icon" href="{{base_path}}/assets/images/icon.png" type="image/png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="HunajaPurkki">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="HunajaPurkki">
    <link rel="apple-touch-icon" href="{{base_path}}/assets/images/icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{base_path}}/assets/images/icon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">


    <title>
      {% block title %}
        HunajaPurkki
      {% endblock %}
    </title>

    {% block head %}
      <!-- Bootstrap (tyylitiedosto) -->
      <link href="{{base_path}}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Oma tyylitiedostomme -->
      <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- Sovelluksen logo ja nimi -->
          <img src="{{base_path}}/assets/images/icon.png" height="50" />
          HunajaPurkki
        </div>
      </div>
    </nav>

    <div id="main-container">

  <div class="page-header">
    <h1>Tervetuloa HunajaPurkkiin!</h1>
  </div>

  {% if error %}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {% endif %}

  {% if message %}
    <div class="alert alert-success">
        {{message}}
    </div>
  {% endif %}


  <div class="form-signin-container">

        <form class="form-signin" method="post" action="{{base_path}}/login">

          <h2 class="form-signin-heading">Sisäänkirjautuminen</h2>

          <label for="inputEmail" class="sr-only">Sähköposti</label>
          <input
            type="email"
            name="inputEmail"
            class="form-control"
            placeholder="hunaja@mehilainen.fi"
            required=""
            autofocus=""
            value="{{username}}"
          >

          <label for="inputPassword" class="sr-only">Salasana</label>
          <input
            type="password"
            name="inputPassword"
            class="form-control"
            placeholder="xxxxxx"
            required=""
          >

         <br/>

          <button class="btn btn-lg btn-warning btn-block" type="submit">
              <span class="glyphicon glyphicon-log-in"></span>
                Kirjaudu sisään
          </button>

        </form>

        <p>
          <br/>
          <a href="{{base_path}}/createLogin"><span class="glyphicon glyphicon-user"></span> Luo tunnukset</a>
          <br/>
        </p>

  </div>

</br></br>

    <h2>Lisää HunajaPurkki puhelimesi appseihin</h2>

    <ul>

      <li><strong>iPhone / iPad:</strong>
          <ul>
            <li>1. Paina selaimesta Jaa-symbolia</li>
            <li>2. Valitse "Lisää Kotiin"</li>
          </ul>
      </li>

      <li><strong>Android:</strong>
          <ul>
            <li>1. Paina selaimesta asetukset-painiketta</li>
            <li>2. "Kiinnitä aloitusruutuun" tai "Lisää pikanäppäin"</li>
          </ul>
      </li>

      <li><strong>Windows phone:</strong>
          <ul>
            <li>1. Paina selaimesta     - painiketta</li>
            <li>2. "Kiinnitä aloitusnäyttöön"</li>
          </ul>
      </li>

    </ul>


  </div>

  {% block body %}
    <!-- jQuery -->
    <script src="{{base_path}}/assets/js/jquery.min.js"></script>

    <!-- Bootstrap (skriptitiedosto) -->
    <script src="{{base_path}}/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Oma skriptitiedostomme -->
    <script src="{{base_path}}/assets/js/site.js"></script>
  {% endblock %}
</body>
</html>
