{% extends "base.html" %}
{% block content %}

{% import "macros/buttons.html" as buttons %}


  {% if message %}
    <div class="alert alert-success">
        <h1>{{message}}</h1>
    </div>
  {% endif %}

  <div class="row">

    <div class="col-sm-3">
      <div class="card border-warning">
        <div class="card-body">
          <a href="{{base_path}}/reminder/new" class="btn btn-success btn-block">Luo uusi muistutus</a>

          <a href="{{base_path}}/hive" class="btn btn-warning btn-block">Listaa tarhat</a>
          <a href="{{base_path}}/apiary" class="btn btn-warning btn-block">Listaa pesät</a>
          <a href="{{base_path}}/queen" class="btn btn-warning btn-block">Listaa emot</a>
          <a href="{{base_path}}/inspection" class="btn btn-warning btn-block">Listaa tarkastuslomakkeet</a>
        </div>
      </div>
    </div>



    {% for reminder in reminders %}

      <div class="col-sm-3">
        <div class="card border-warning">

          <img class="card-img-top" src="{{base_path}}/assets/images/icon.png" alt="Hive image cap">

          <div class="card-body">
            <h4 class="card-title">{{reminder.title}}</h4>
            <p class="card-text">{{reminder.comments}}.</p>

            {% for apiary in linkedApiarys %}
              <a href="{{base_path}}/apiary/{{apiary.apiaryID}}" class="btn btn-warning">Pesän: {{apiary.name}} tiedot</a>
              <a href="{{base_path}}/apiary/{{apiary.apiaryID}}/inspection" class="btn btn-info">Tarkasta pesä: {{apiary.name}}</a>
            {% endfor %}

            <br/><br/>
            {{buttons.destroy_button("#{base_path}/reminder/#{remider.reminderID}/remove")}}

          </div>

        </div>
      </div>

    {% endfor %}



  </div>




{% endblock %}
